*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background: #f3f3f3;
  height: 100%;
}

:root {
  background: #f3f3f3;
  font-family: sans-serif;
  line-height: 1.45;
}

:root.has-darkmode {
  filter: invert(1);
}

:root.has-darkmode img {
  filter: invert(1);
}
